<div class="d-flex flex-column">
  <div class="container">
    <div class="image"></div>
    <div class="d-flex flex-column intro">
      <p>
        <strong>
          Step into a world where quality meets creativity, where every color
          tells a story, and where your beauty routine is an opportunity to
          explore, experiment, and express yourself.</strong
        >
      </p>
      <button routerLink="/shop" class="btn btn-primary">Shop now</button>
    </div>
  </div>

  <!-- <img
    class="image1"
    src="../../assets/img/connect-image-45-1400x480@2x.png"
    alt=""
  /> -->
  <img src="../../assets/img/Capture.PNG" alt="" />
  <div>
    <app-shop></app-shop>
  </div>
  <div class="about">
    <h1>About Us</h1>
    <p>
      Our mission is simple: to help you achieve healthy, radiant skin without
      compromising on ethics. We believe in transparency and sustainability,
      which is why our packaging is recyclable and our practices are
      eco-friendly. Whether you're looking for a gentle cleanser, a hydrating
      moisturizer, or an invigorating serum, you'll find that our products are
      designed with care, guided by nature, and crafted with you in mind. Join
      us on this journey to natural beauty, where skincare isn't just about
      looking good—it's about feeling good, inside and out
    </p>
  </div>
</div>
