<div class="login-container">
  <h2>Login</h2>
  <form id="login-form" action="#" method="post">
    <div>
      <label for="username">Username:</label><br />
      <input
        [(ngModel)]="authRequest.username"
        type="text"
        id="username"
        name="username"
        required
      />
    </div>
    <div>
      <label for="password">Password:</label><br />
      <input
        [(ngModel)]="authRequest.password"
        type="password"
        id="password"
        name="password"
        required
      />
    </div>
    <button (click)="login()" type="submit">Login</button>
  </form>
  <div class="error-message" id="error-message"></div>
</div>
