<div class="collection-img">
  <img
    alt="product"
    src="../assets/img/{{ product.url }}"
    class="product-image"
  />
</div>
<div class="product-details text-center d-flex flex-column">
  <h2 class="title">
    <a href="/products/{{ product.id }}">{{ product.name }}</a>
  </h2>
  <p-rating
    [(ngModel)]="product.rating"
    [readonly]="true"
    [cancel]="false"
  ></p-rating>
  <p class="description">{{ product.description }}</p>
  <p>{{ product.price }}</p>
  <button class="add-cart-btn">Add to Cart</button>
</div>
