.card {
  display: flex;
  flex-direction: column;
  gap: 5%;
  width: 360px;
  height: 100%;
  padding: 5%;
}

.card img {
  height: 70%;
}

.card-content {
  flex: 30%; /* Takes rest of the space */
  overflow: hidden; /* Hide overflowing content */
}

a {
  text-decoration: none;
}

.card-content h2,
.card-content p,
.card-content button {
  margin: 0; /* Reset margins for inner elements */
}
