<div class="order-container d-flex">
  <div class="col-8 order-form d-flex flex-row justify-content-center">
    <div class="flex-item">
      <div>
        <h2>Delivery:</h2>
        <h6>select shipping address</h6>
        <div class="address-list d-flex flex-column mb-3 gap-3">
          <!-- default address -->

          <div class="user-address p-3 d-flex flex-row gap-3">
            <input
              class="form-check-input"
              type="radio"
              name="radioAddress"
              id="radioDefaultAddress"
              value="defaultAddress"
              (change)="toggle()"
              checked
            />
            <div class="flex-grow-1">get user address</div>
          </div>

          <!-- new address -->
          <div class="user-address shipping-form">
            <div class="p-3 d-flex flex-row gap-3">
              <input
                class="form-check-input"
                type="radio"
                name="radioAddress"
                id="radioNewAddress"
                value="newAddress"
                (change)="toggle()"
              />
              <div class="flex-grow-1"><strong>add new address</strong></div>
            </div>

            <app-address-form
              [isFormDisabled]="isFormDisabled"
            ></app-address-form>
          </div>
          <!-- end new address -->

          <div class="payment d-flex flex-column">
            <p><strong> Payment</strong></p>
            <button type="submit" class="btn btn-primary">
              Pay with Paypal
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="order-cart flex-item">
    <app-order-cart></app-order-cart>
  </div>
</div>
