<div class="order-container d-flex">
  <div class="order-form d-flex flex-row col-6">
    <div class="flex-item">
      <div>
        <h2>Delivery:</h2>

        <div class="address-list d-flex flex-column mb-3 gap-3">
          <h6>select shipping address</h6>
          <!-- default address -->
          <div *ngFor="let userAddress of userAddressList">
            <div class="user-address p-3 d-flex flex-row gap-3">
              <input
                class="form-check-input"
                type="radio"
                name="radioAddress"
                id="radioDefaultAddress"
                value="defaultAddress"
                checked
                [value]="userAddress"
                (change)="onAddressChange(userAddress)"
                [checked]="userAddress === selectedAddress"
              />
              <div class="d-flex flex-column">
                <div class="defaultAddress flex-grow-1 d-flex gap-1">
                  <span>{{ userAddress.street }},</span>
                  <span>{{ userAddress.city }},</span>
                  <span>{{ userAddress.country }},</span>
                  <span>{{ userAddress.state }},</span>
                  <span>{{ userAddress.postalCode }},</span>
                  <span>| {{ userData.phoneNumber }}</span>
                  <span *ngIf="userAddress.default">| (default)</span>
                </div>
              </div>
            </div>
          </div>

          <div class="shipping d-flex flex-column pe-2">
            <p><strong> Shipping</strong></p>
            <div class="shipping d-flex flex-row gap-3 p">
              <input type="radio" name="" id="" checked />
              <p class="mt-3">Canada post (2 weeks)</p>
              <p class="mt-3 ms-auto">12$</p>
            </div>
          </div>
          <div class="payment d-flex flex-column">
            <app-payment
              [cart]="cartData"
              [shippingAddress]="selectedAddress"
            ></app-payment>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="order-cart flex-item">
    <app-order-cart [cart]="cartData"></app-order-cart>
  </div>
</div>
