<app-search></app-search>

<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <a
      class="navbar-brand d-flex justify-content-between align-items-center order-lg-0"
      href="index.html"
    >
      Beautylife
    </a>

    <div class="order-lg-2 nav-btns">
      <button type="button" class="btn position-relative" routerLink="/login">
        <i class="fa fa-user"></i>
      </button>
      <button type="button" class="btn position-relative" routerLink="/cart">
        <i class="fa fa-shopping-cart"></i>
        <span
          class="position-absolute top-0 start-100 translate-middle badge bg-primary"
          >5</span
        >
      </button>

      <button
        type="button"
        class="btn position-relative"
        data-bs-toggle="modal"
        data-bs-target="#searchModal"
      >
        <i class="fas fa-search"></i>
      </button>
    </div>
    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navMenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse order-lg-1" id="navMenu">
      <ul class="navbar-nav mx-auto text-center">
        <li class="nav-item px-2 py-2">
          <a class="nav-link text-uppercase text-dark" href="#header">home</a>
        </li>
        <li class="nav-item px-2 py-2">
          <a class="nav-link text-uppercase text-dark" href="/shop">Shop</a>
        </li>

        <li class="nav-item px-2 py-2">
          <a class="nav-link text-uppercase text-dark" href="#about"
            >about us</a
          >
        </li>
        <li class="nav-item px-2 py-2 border-0">
          <a class="nav-link text-uppercase text-dark" href="#popular">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
